<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/CreateRental.css">
    <title>Return Rental</title>
</head>
<body>
    <div class="container">
        <h1>Rental Stuff LLC</h1>
        <h2>Return Rental</h2>
        <form method="POST">
        
            <div>
                <label for="rental_id">Return Rental</label>
                <select name="rental_id" id="rental_id" required>
                    {% for r in rentals %}
                        <option value="{{ r.id }}">
                            {{r.equipment.name }} - ${{ "%.2f"|format(r.equipment.price) }} - x{{ r.quantity }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <button>Return Rental</button>
        </form>

        <a href="{{ url_for('dashboard') }}">Back to Dashboard</a>
    </div>
</body>
</html>